<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blockchaintrace.dao.TraceMapper">
    <select id="getTrace" resultType="com.example.blockchaintrace.pojo.Trace">
        select * from traces where hash = #{hash}
    </select>
    <select id="addTrace" parameterType="com.example.blockchaintrace.pojo.Trace">
        insert into traces (hash,productName,productPlace,productTime,producer,distributor,distributeTime,retailer,retailTime,recordTimeStamp )
        values (#{hash},#{productName},#{productPlace},#{productTime},#{producer},#{distributor},#{distributeTime},#{retailer},#{retailTime},#{recordTimeStamp})
    </select>
</mapper>